@charset "utf-8";

/*skin*/
header {background-color:#212F3C !important;}
header .head_top {background-color:#1B2631 !important;}

button.txtBtn {background-color:#1B2631 !important;}
button.txtBtn.light {color:#1B2631 !important;}
button.lineBtn {border-color:#212F3C !important;}

.container {background-color:#212F3C !important;}
.container .lnbSection nav {background-color:#212F3C !important;}

#alertmodal-container .alertmodal-data .btn-area input[type="button"] {color:#fff;background-color:#1B2631 !important;}
#alertmodal-container .alertmodal-data .btn-area input[type="button"].btn-default {color:#1B2631 !important;background-color:#e1e6f4 !important;}