@charset "utf-8";

/*skin*/
header {background-color:#1f2225 !important;}
header .head_top {background-color:#282c31 !important;}

button.txtBtn {background-color:#282c31 !important;}
button.txtBtn.light {color:#282c31 !important;}
button.lineBtn {border-color:#1f2225 !important;}

.container .mainTabUI > li.active {background-color:#ffffffe6 !important;}
.container {background-color:#1f2225 !important;}
.container .lnbSection nav {background-color:#1f2225 !important;}
.container .mainFrame {background-color:transparent;}

.alertmodal-data span, .alertmodal-data div, .alertmodal-data p {color:#fff !important;}
#alertmodal-container .alertmodal-data .btn-area {background-color:#282c31;}
#alertmodal-container .alertmodal-data .btn-area input[type="button"] {color:#fff;background-color:rgba(255,255,255,0.1); !important;border-color:rgba(255,255,255,0.2) !important;}
#alertmodal-container .alertmodal-data .btn-area input[type="button"].btn-primary {color:#fff !important;background-color:rgba(238,242,252,0.1) !important}
.alertmodal-wrap {background-color:#282c31;border:0 !important;}

aside.statusSection {background-color: #282c31;border-top-color: #494c50;}
aside.statusSection span {color: #fff;}