@charset "utf-8";

/*skin*/
header {background-color:#894A4D !important;}
header .head_top {background-color:#530205 !important;}

button.txtBtn {background-color:#530205 !important;}
button.txtBtn.light {color:#530205 !important;}
button.lineBtn {border-color:#530205 !important;}

.container {background-color:#894A4D !important;}
.container .lnbSection nav {background-color:#894A4D !important;}

#alertmodal-container .alertmodal-data .btn-area input[type="button"] {color:#fff;background-color:#530205 !important;}
#alertmodal-container .alertmodal-data .btn-area input[type="button"].btn-default {color:#530205 !important;background-color:#e1e6f4 !important;}