@font-face {
    font-family: 'systemFont';
    src:
        url('/assets/font/systemFont.ttf?rpxbcn') format('truetype'),
        url('/assets/font/systemFont.woff?rpxbcn') format('woff'),
        url('/assets/font/systemFont.svg?rpxbcn#systemFont') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"], [class^="sc-"],  [class*=" sc-"], [class^="lnb-"],  [class*=" lnb-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'systemFont','NanumSquare';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align:baseline;
}

/*.c_01, .c_01 > button:before {color:#49d58e;}
.c_02, .c_02 > button:before {color:#9ba8bb;}*/

.icon-search:before {content: "\e901";}

/*shortcutbuttonGroup*/
.sc-logout:before {content:"\e900";}
.sc-search:before {content:"\e902";}
.sc-save:before {content:"\e91c";}
.sc-plus:before {content:"\e903";}
.sc-trash:before {content:"\e905";}
.sc-print:before {content:"\e906";}
.sc-monitor:before {content:"\e907";}
.sc-excel:before {content:"\e908";}
.sc-bottom-fold:before {content:"\e909";}
.sc-bottom-unfold:before {content:"\e90a";}
.sc-left-fold:before {content:"\e90b";}
.sc-left-unfold:before {content:"\e90c";}

/*lnb Menu*/
.lnb-enterance:before {content:"\e90d";}
.lnb-haksa:before {content:"\e90e";}
.lnb-subject:before {content:"\e90f";}
.lnb-scholarship:before {content:"\e910";}
.lnb-regist:before {content:"\e911";}
.lnb-teacher:before {content:"\e912";}
.lnb-setting:before {content:"\e913";}
.lnb-report:before {content:"\e914";}

/*common icon*/
.icon-info:before {content:"\e915";}
.icon-more:before {content:"\e916";}
.icon-save:before {content:"\e91c";}
.icon-delete:before {content:"\e917";}
.icon-delete-big:before {content:"\e918";}
.icon-calendar:before {content:"\e919";}
.icon-arrow-up:before {content:"\e91a";}
.icon-arrow-down:before {content:"\e91b";}
.icon-plus:before {content:"\e903";}
.icon-plus-small:before {content:"\e904";}
.icon-time:before {content:"\e91d";}
.icon-minus:before {content:"\e91e";}

.icon-page-start:before {content:"\e91f";}
.icon-page-prev:before {content:"\e920";}
.icon-page-next:before {content:"\e921";}
.icon-page-end:before {content:"\e922";}

.icon-board-new:before {content:"\e924";}


















