@charset "utf-8";

.mainContents {position:absolute;top:0;left:0;padding:20px;width:100%;overflow-y:auto;}
.mainContents .head {position:relative;height:30px;margin-bottom:10px;}
.mainContents > .head:nth-of-type(1) {height:40px;border-bottom:solid 1px #ccc;}
.mainContents .head h2 {font-size:19px;line-height:35px;color:#242731;font-weight:500;letter-spacing:-0.5px;}
.mainContents .head h2 span {font-size:19px;}
.mainContents .head h2 em {display:inline-block;margin-left:25px;line-height:35px;font-size:13px;font-style:normal;font-weight:400;vertical-align:top;color:#777;}
.mainContents .head h3 {padding:15px 0 0 15px;font-size:15px;color:#242731;font-weight:500;letter-spacing:-0.5px;}
.mainContents .head h3:before {content:"";position:absolute;top:20px;left:5px;display:block;width:3px;height:3px;background-color:#155ac2;}
.mainContents .head .buttonGroup {position:absolute;top:0;right:0;}
.mainContents .head .buttonGroup button+button {margin-left:4px;}
.mainContents.popup .head {height:35px;}
.mainContents.popup .buttonGroup {top:10px;}

.row {display:flex;display:-webkit-flex;display:-ms-flexbox;flex-flow:row wrap;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;margin:0;max-width:100%;}
.formFieldWrap {border:solid 1px #ccc;background-color:#fff;}
.formFieldWrap .row:not(:last-child) {border-bottom:solid 1px #d2d2d2;}
.formFieldWrap .comment {margin-top:10px;font-size:11px;color:#d65b5b;}
.formFieldWrap .comment:before {content:"\203B";}
.formFieldWrap .info {padding:10px 0 5px 0;}
.formFieldWrap .info ul li {line-height:24px;}
.formFieldWrap .searchBtn {padding:3px 5px 0 0;text-align:right;}
.formFieldWrap:not(:last-child) {margin-bottom:7px;}
.formFieldWrap.result span {display:inline-block;}
.formFieldWrap.result span+span:before {content:"\00A0\002F\00A0";}
.formGroup {position:relative;display:flex;display:-webkit-flex;display:-ms-flexbox;width:100%;padding:3px 5px 2px 0;}
.formGroup > label:first-child {width:100%;background-color:#f6f6f6;}
.formGroup > label {width:auto;padding:0 10px;margin:-3px 0 -2px 0;margin-right:0;line-height:35px;font-size:13px;}

.formControl {position:relative;width:100%;padding:0;flex:1;-webkit-flex:1;-ms-flex:1;display:inline-flex;display:-webkit-inline-flex;display:-ms-inline-flexbox;align-items:center;}
.formControl .formControl {align-items:inherit;top:-1px;}
.formControl.inputGroup input[type="text"] {padding-right:40px;width:100%;}
.formControl.inputGroup button {position:absolute;top:1px;right:1px;width:30px;height:28px;font-size:16px;color:#97A6C9;background-color:rgba(225,230,242,0.6);}
.formControl.inputGroup button:active {color:#1667DB;}
.formControl.inputGroup button:after {content:attr(data-title);display:none;width:60px;position:absolute;left:50%;bottom:-15px;background-color:#000;color:#fff;font-size:11px;line-height:18px;transform:translate(-50%,0);border-radius:2px;z-index:10;}
.formControl.inputGroup button:hover:after {display:block;}
.formControl.inputGroup.required button {background-color:rgba(245,119,123,0.1);}
.formControl.inputGroup.double [type="text"] {padding-right:80px;}
.formControl.inputGroup.double button:nth-of-type(1) {right:30px;border-right:solid 1px #d5dae6;}
.formControl.codePicker .textBox {width:50%;}
.formControl.codePicker .inGroup .textBox {width:100%;}
.formControl.codePicker button {position:absolute;top:1px;right:1px;width:30px;height:28px;font-size:16px;color:#97A6C9;background-color:rgba(225,230,242,0.6);}
.formControl.codePicker button:active {color:#1667DB;}
.formControl.codePicker button:after {content:attr(data-title);display:none;width:60px;position:absolute;left:50%;bottom:-15px;background-color:#000;color:#fff;font-size:11px;line-height:18px;transform:translate(-50%,0);border-radius:2px;z-index:10;}
.formControl.codePicker button:hover:after {display:block;}
.formControl.combineBox .textBox {width:50%;}
.formControl.combineBox .inGroup .textBox {width:100%;}
.formControl.combineBox button {position:absolute;top:1px;right:1px;width:30px;height:28px;font-size:16px;color:#97A6C9;background-color:rgba(225,230,242,0.6);}
.formControl.combineBox button:active {color:#1667DB;}
.formControl.combineBox button:after {content:attr(data-title);display:none;width:60px;position:absolute;left:50%;bottom:-15px;background-color:#000;color:#fff;font-size:11px;line-height:18px;transform:translate(-50%,0);border-radius:2px;z-index:10;}
.formControl.combineBox button:hover:after {display:block;}
.formControl .dateControl {width:100%;}
.formControl .dateControl span {position:relative;display:inline-flex;width:calc(50% - 2px);}
.formControl .dateControl span input {width:100%;}
.formControl .dateControl span:first-child {padding-right:10px;}
.formControl .dateControl span:last-child {padding-left:10px;}
.formControl .dateControl span+span:before {content:"-";position:absolute;top:12px;left:2px;}
.formControl .item:not(:first-child) {margin-left:3px;}
.formControl .inGroup {position:relative;display:inline-flex;width:50%;}
.formControl .required button:before {color:#F5777B;}
.formControl .required [type="text"] {border-color:#F5777B;}
.formControl .required button {background-color:rgba(245,119,123,0.1);}
.formControl [class*="syn-"] {position:relative;width:100%;}
.formControl.inputGroup [class*="syn-"] {width:50%;}
.formControl.wrap {flex-direction:row;flex-wrap:wrap;}
.formAlert {position:relative;display:flex;display:-webkit-flex;display:-ms-flexbox;width:100%;padding:3px 5px 2px 0;font-size: 19px;}
.formAlert i {font-size: 22px;vertical-align: middle;line-height: 33px;margin: 0 8px 0 8px;}
.formAlert h2 {width: 100%;}

.formFieldWrap .buttonGroup {padding:4px 3px 3px 0;text-align:right;}
.formFieldWrap .row li.right {text-align:right;}

.formFieldWrap.type01 .row li {line-height:36px;}
.formFieldWrap.type01 .row li label.label {width:93%;padding:0 10px;margin:-2px 0 -2px 0;margin-right:5px;line-height:34px;font-size:13px;background-color:#f6f6f6;}
.formFieldWrap.type01 .row li .formGroup > label.label {background-color:transparent;}
.formFieldWrap.type01 .row li .formGroup > label.label.p0 {padding:0 10px 0 0;width:auto !important;}
.formFieldWrap.type01 .row:not(:nth-last-of-type(1)) {border-bottom:solid 1px #d2d2d2;}

.formFieldWrap.inside {border-width:0 0 0 1px;}
.formFieldWrap.viewStyle .row li .formGroup > label {margin-right:4px;background-color:#f6f6f6;}
.formFieldWrap.viewStyle .row li .formGroup > label.label {background-color:transparent;}
.formFieldWrap.viewStyle .row:not(:nth-last-of-type(1)) {border-bottom:solid 1px #d2d2d2;}
.row .pic {width:100%;height:100%;padding-left:6px;}
.row .pic figure {position:relative;height:100%;text-align:center;overflow:hidden;}
.row .pic figure img {position:absolute;top:0;left:50%;width:auto !important;transform:translate(-50%,0);}

.col-auto {-ms-flex: 0 0 auto;flex: 0 0 auto;width:auto;max-width:none;}
.col-1 {-ms-flex:0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
.col-2 {-ms-flex:0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
.col-3 {-ms-flex:0 0 25%;flex: 0 0 25%;max-width:25%;}
.col-4 {-ms-flex:0 0 33.333333%;flex: 0 0 33.333333%;max-width:33.333333%;}
.col-5 {-ms-flex:0 0 41.666667%;flex: 0 0 41.666667%;max-width:41.666667%;}
.col-6 {-ms-flex:0 0 50%;flex: 0 0 50%;max-width:50%;}
.col-7 {-ms-flex:0 0 58.333333%;flex: 0 0 58.333333%;max-width:58.333333%;}
.col-8 {-ms-flex:0 0 66.666667%;flex: 0 0 66.666667%;max-width:66.666667%;}
.col-9 {-ms-flex:0 0 75%;flex: 0 0 75%;max-width:75%;}
.col-10 {-ms-flex:0 0 83.333333%;flex: 0 0 83.333333%;max-width:83.333333%;}
.col-11 {-ms-flex:0 0 91.666667%;flex: 0 0 91.666667%;max-width:91.666667%;}
.col-12 {-ms-flex:0 0 100%;flex: 0 0 100%;max-width:100%;}

.w10 {width:30px !important;}
.w40 {width:40px !important;}
.w50 {width:50px !important;}
.w60 {width:60px !important;}
.w70 {width:70px !important;}
.w80 {width:80px !important;}
.w90 {width:90px !important;}
.w100 {width:100px !important;}
.w110 {width:110px !important;}
.w120 {width:120px !important;}
.w130 {width:130px !important;}
.w140 {width:140px !important;}
.w150 {width:150px !important;}
.w160 {width:160px !important;}
.w170 {width:170px !important;}
.w180 {width:180px !important;}
.w400 {width:400px !important;}
.w800 {width:800px !important;}

.ml-3 {margin-left:3px;}
.pr-10 {padding-right:10px;}

.fieldTabUIWrap > .tabUI {margin-top:15px;height:30px;width:100%;display:flex;display:-webkit-flex;display:-ms-flexbox;border-bottom:solid 2px #9283BE;}
.fieldTabUIWrap > .tabUI li {padding:0 10px;margin-right:1px;height:30px;border:solid 2px #ccc;border-bottom:solid 2px #9283BE;font-size:15px;line-height:28px;opacity:0.5;cursor:pointer;}
.fieldTabUIWrap > .tabUI li:hover,
.fieldTabUIWrap > .tabUI li.active {border-color:#9283BE;color:#50417B;background-color:#f9f9f9;border-bottom:solid 1px #f9f9f9 !important;opacity:1;}
.fieldTabUIWrap .tabContent {padding:0 10px 10px 10px;background-color:#f9f9f9;border:solid 2px #9283BE;border-top:0;border-radius:0 0 5px 5px;}
.fieldTabUIWrap .tabContent > .head:first-child {}

.gridWrap > .gridBox {width:100% !important;}
.gridWrap > .gridBox:not(:first-child) {margin-top:10px;}

.gridWrap .gridBox > div {border:solid 1px #ccc;}
.gridWrap .gridUtil .gridTitle h3:before {background-color:#192B80;}
.gridWrap .gridUtil {padding-top:10px;display:flex;height:35px;}
.gridWrap .gridUtil dt {position:relative;width:50%;}
.gridWrap .gridUtil dd {position:relative;width:50%;}
.gridWrap .gridUtil .gridCount {padding-left:10px;line-height:25px;color:#989898;}
.gridWrap .gridUtil .gridCount strong {font-weight:700;color:#000;}
.gridWrap .gridUtil .gridPaging {text-align:right;}
.gridWrap .gridUtil .gridPaging a {display:inline-block;width:25px;height:25px;line-height:23px;color:#989898;text-align:center;border-radius:2px;vertical-align:top;}
.gridWrap .gridUtil .gridPaging a.active {background-color:#557be4;color:#fff;}
.gridWrap .gridUtil .gridPaging a:hover {color:#557be4;background-color:rgba(14,120,124,0.1);}
.gridWrap .gridUtil .gridPaging a:before {font-size:18px;line-height:21px;vertical-align:top;}
.gridWrap .gridUtil .gridPaging .p_start:before {content:"\00AB";}
.gridWrap .gridUtil .gridPaging .p_prev:before {content:"\2039";}
.gridWrap .gridUtil .gridPaging .p_next:before {content:"\203A";}
.gridWrap .gridUtil .gridPaging .p_end:before {content:"\00bb";}
.gridWrap .gridUtil.head {height:38px;}
.gridWrap .gridUtil .gridTitle h3 {display:inline-block;padding:0 15px 0 15px;font-size:15px;line-height:30px;color:#242731;font-weight:500;letter-spacing:-0.5px;}
.gridWrap .gridUtil .gridTitle h3:before {content:"";position:absolute;top:13px;left:5px;display:block;width:3px;height:3px;background-color:#155ac2;}
.gridWrap .gridUtil .gridTotal {text-align:left;}
.gridWrap .gridUtil .gridTotal .totalBox {display:inline-flex;height:28px;padding:4px 8px 0 8px;border:solid 0 #d2d2d2;vertical-align:top;}
.gridWrap .gridUtil .gridTotal .totalBox span {display:inline-block;line-height:18px;color:#434343;}
.gridWrap .gridUtil .gridTotal .totalBox span label {font-size:12px;}
.gridWrap .gridUtil .gridTotal .totalBox span+span:before {content:"|";margin:0 10px;font-size:10px;vertical-align:top;}
.gridWrap .gridUtil .gridTotal .buttonGroup {position:relative;top:auto;right:auto;display:inline-flex;vertical-align:top;}
.gridWrap .gridUtil .gridButton {text-align:right;}
.gridWrap .gridUtil .gridButton label,
.gridWrap .gridUtil .gridButton span {vertical-align:middle;}
.gridWrap .gridUtil .gridButton label.label {margin-right:5px;}
.gridWrap .row > div[class*="col-"]:not(:last-child) {padding-right:5px;}
.gridWrap .gridBox .gridUtil:nth-of-type(2) {padding:3px; border:solid 1px #ccc; /*border-top:0;*/background-color:#f8f8f8;}

.panelWrap > .panelBox {width:100% !important;}
.panelWrap > .panelBox:not(:first-child) {margin-top:10px;}

.panelWrap .panelBox > div {border:solid 1px #ccc;}
.panelWrap .panelUtil .panelTitle h3:before {background-color:#192B80;}
.panelWrap .panelUtil {padding-top:10px;display:flex;height:35px;}
.panelWrap .panelUtil dt {position:relative;width:50%;}
.panelWrap .panelUtil dd {position:relative;width:50%;}
.panelWrap .panelUtil .panelCount {padding-left:10px;line-height:25px;color:#989898;}
.panelWrap .panelUtil .panelCount strong {font-weight:700;color:#000;}
.panelWrap .panelUtil.head {padding: 2px 2px 2px 0;margin-bottom: 0;border-bottom: solid 1px #ccc;height: 36px;}
.panelWrap .panelUtil .panelTitle h3 {display:inline-block;padding:0 15px 0 15px;font-size:15px;line-height:30px;color:#242731;font-weight:500;letter-spacing:-0.5px;}
.panelWrap .panelUtil .panelTitle h3:before {content:"";position:absolute;top:13px;left:5px;display:block;width:3px;height:3px;background-color:#155ac2;}
.panelWrap .panelUtil .panelButton {text-align:right;}
.panelWrap .panelUtil .panelButton label,
.panelWrap .panelUtil .panelButton span {vertical-align:middle;}
.panelWrap .panelUtil .panelButton label.label {margin-right:5px;}
.panelWrap .panelUtil .panelButton .buttonGroup {padding:2px;}
.panelWrap .panelUtil .panelButton .buttonGroup button {line-height:100%;}
.panelWrap .row > div[class*="col-"]:not(:last-child) {padding-right:5px;}
.panelWrap .panelBox .panelUtil:nth-of-type(2) {padding:3px; border:solid 1px #ccc; /*border-top:0;*/background-color:#f8f8f8;}

/*textEditor*/
.textEditorWrap {width:100%;border:solid 1px #d2d2d2;}
.textEditorWrap .buttonGroup {padding:3px 5px;background-color:#f6f6f6;border-bottom:solid 1px #d2d2d2;}
.textEditorWrap .editorForm {padding:5px;}
.textEditorWrap .editorForm .ui_editor {width:100%;border:0;}

/*login*/
#wrap.login {position:relative;width:100%;height:100%;min-width:1400px;}
.loginWrap {position:relative;width:100%;height:100%;background-image:linear-gradient(135deg, rgba(47, 128, 237, 0.9), rgba(235, 87, 87, 0.9));background-color:#fff;}
.loginWrap .formSection {position:absolute;top:50%;left:50%;width:600px;height:440px;transform:translate(-50%,-50%);background-color:#fff;border-radius:40px;box-shadow:0 6px 16px 0 rgba(0, 0, 0, 0.25);}
.loginWrap .formSection .form-inner {position:relative;padding:50px 60px 0 60px;}
.loginWrap .formSection .form-inner h1 img {height:40px;}
.loginWrap .formSection .form-inner fieldset {margin-top:25px;}
.loginWrap .formSection .form-inner fieldset ul li {position:relative;}
.loginWrap .formSection .form-inner fieldset ul li:not(:nth-last-of-type(2)) {margin-bottom:35px;}
.loginWrap .formSection .form-inner fieldset ul li i {position:absolute;top:16px;left:10px;font-size:24px;line-height:24px;opacity:0.3;}
.loginWrap .formSection .form-inner fieldset .textbox {width:100%;height:55px;padding-left:45px;border-radius:5px;background-color:#fff;font-size:16px;border:solid 1px #ccc;}
.loginWrap .formSection .form-inner fieldset .textbox::placeholder {color:rgba(0,0,0,0.2);}
.loginWrap .formSection .form-inner fieldset input[type="password"] {font-family:sans-serif;}
.loginWrap .formSection .form-inner fieldset .btn_login {width:100%;height:55px;border-radius:5px;background-color:rgba(47,128,237,0.9);font-size:20px;font-weight:800;color:#fff;}
.loginWrap .formSection .form-inner fieldset .buttonGroup dl {display:flex;margin-top:15px;}
.loginWrap .formSection .form-inner fieldset .buttonGroup dl dt {width:50%;}
.loginWrap .formSection .form-inner fieldset .buttonGroup dl dd {width:50%;text-align:right;margin-top: 6px;}
.loginWrap .formSection .form-inner fieldset .buttonGroup .btn {position:relative;font-size:12px;line-height:30px;color:#292930;}
.loginWrap .formSection .form-inner .errorMsg {display:none;position:absolute;top:62px;left:0;line-height:12px;color:rgba(235,87,87,0.9);}

.loginPopWrap {position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.2);z-index:1000;}
.loginPopWrap .popupFrame {position:absolute;top:50%;left:50%;width:500px;min-height:270px;padding-bottom:95px;background-color:#fff;border-radius:20px;transform:translate(-50%,-50%);overflow:hidden;}
.loginPopWrap .popupFrame > div {position:relative;}
.loginPopWrap .popupFrame .popupHeader {padding:30px 0 0 0;height:80px;text-align:center;}
.loginPopWrap .popupFrame .popupHeader h2 {font-size:24px;line-height:26px;font-weight:900;color:#000;}
.loginPopWrap .popupFrame .popupHeader .btn_close {position:absolute;top:25px;right:25px;font-size:24px;}
.loginPopWrap .popupFrame .popupContent {position:relative;padding:0 20px;}
.loginPopWrap .popupFrame .popupContent p {font-size:16px;line-height:24px;text-align:center;letter-spacing:-0.5px;}
.loginPopWrap .popupFrame .popupContent p.small {font-size:14px;}
.loginPopWrap .popupFrame .popupContent p.small.left {text-align:left;}
.loginPopWrap .popupFrame .popupContent p strong {display:block;margin-bottom:15px;font-size:18px;color:#000;}
.loginPopWrap .popupFrame .popupContent p em {font-style:normal;}
.loginPopWrap .popupFrame .popupContent .cRed {color:#ed1c24;font-weight:700;}
.loginPopWrap .popupFrame .popupContent fieldset {width:300px;margin:25px auto;}
.loginPopWrap .popupFrame .popupContent fieldset ul li {position:relative;display:flex;justify-content:center;}
.loginPopWrap .popupFrame .popupContent fieldset ul li label {width:80px;line-height:55px;}
.loginPopWrap .popupFrame .popupContent fieldset ul li i {position:absolute;top:16px;left:10px;font-size:24px;line-height:24px;opacity:0.3;}
.loginPopWrap .popupFrame .popupContent fieldset .textbox {width:100%;height:55px;padding-left:25px;border-radius:5px;background-color:#fff;font-size:16px;border:solid 1px #ccc;}
.loginPopWrap .popupFrame .popupContent fieldset .textbox::placeholder {color:rgba(0,0,0,0.2);}
.loginPopWrap .popupFrame .popupContent fieldset input[type="password"] {font-family:sans-serif;}
.loginPopWrap .popupFrame .popupContent fieldset .btn_reSend {width:80px;}
.loginPopWrap .popupFrame .popupContent fieldset .btn_reSend span {text-decoration:underline;}
.loginPopWrap .popupFrame .popupContent .pwdChangeContent {margin-top:35px;}
.loginPopWrap .popupFrame .popupContent .pwdChangeContent li {line-height:24px;}
.loginPopWrap .popupFrame .popupContent .pwdChangeContent li:nth-of-type(1) {margin-bottom:10px;}
.loginPopWrap .popupFrame .popupContent .pwdChangeContent li:last-child {margin-top:15px;}
.loginPopWrap .popupFrame .popupContent .pwdChangeContent li i {display:inline-block;width:24px;height:24px;line-height:24px;vertical-align:middle;text-align:center;}
.loginPopWrap .popupFrame .popupContent .pwdChangeContent li span {font-weight:700;text-decoration:underline;}
.loginPopWrap .popupFrame.basic .popupContent {position:absolute;width:100%;height:calc(100% - 65px);}
.loginPopWrap .popupFrame.basic .popupContent p {position:absolute;top:50%;width:100%;line-height:30px;transform:translate(0,-50%)}
.loginPopWrap .popupFrame.passwordChange {width:760px;padding-bottom:20px;}
.loginPopWrap .popupFrame.passwordChange .popupContent fieldset {width:480px;margin:35px auto;}
.loginPopWrap .popupFrame.passwordChange .popupContent fieldset ul li {display:block;margin-bottom:35px;}
.loginPopWrap .popupFrame.passwordChange .popupContent fieldset ul li .errorMsg {display:none;position:absolute;top:62px;left:0;font-size:12px;line-height:12px;color:rgba(235,87,87,0.9);}
.loginPopWrap .popupFrame.passwordChange .popupContent fieldset .textbox {padding-left:45px;}
.loginPopWrap .popupFrame.passwordChange .popupContent .idInfo {margin-bottom:15px;font-size:16px;}
.loginPopWrap .popupFrame.passwordChange .popupContent .idInfo span {font-weight:700;text-decoration:underline;}
.loginPopWrap .popupFrame.passwordChange .buttonWrap {text-align:center;}
.loginPopWrap .popupFrame.passwordChange .buttonWrap .btn {height:55px;width:150px;font-size:16px;color:#fff;background-color: rgba(47, 128, 237, 0.8);border-radius:5px;}
.loginPopWrap .popupFrame.passwordChange .pwdChangeNoti {padding:15px 20px;background-color:#f4f4f4;border-radius:5px;font-size:14px;line-height:24px;}
.loginPopWrap .popupFrame .popupFooter {position:absolute;bottom:0;left:0;height:65px;width:100%;}
.loginPopWrap .popupFrame .popupFooter .btn {height:65px;width:100%;font-size:16px;color:#fff;background-color: rgba(47, 128, 237, 0.8);}

/*board*/
.boardWrap {margin-top:20px;padding-top:10px;border-top:solid 2px #212121;}
.boardWrap dl {display:flex;display:-webkit-flex;display:-ms-flexbox;width:100%;min-height:30px;margin-bottom:15px;}
.boardWrap dl dt {width:150px;padding:10px 0 0 15px;font-weight:700;}
.boardWrap dl dd {width:calc(100% - 150px);min-height:30px;}
.boardWrap .buttonWrap {padding-top:20px;border-top:solid 1px #d2d2d2;text-align:right;}

.evaluateWrap {margin-top:20px;border-top:solid 2px #212121;}
.evaluateWrap table {width:100%;}
.evaluateWrap table thead th {padding:10px;background-color:#e3e3e3;color:#454545;border-bottom:solid 1px #ccc;}
.evaluateWrap table tbody tr {border-bottom:solid 1px #ccc;}
.evaluateWrap table tbody th {position:relative;padding:13px 10px 13px 20px;line-height:18px;text-align:left;color:#333;background-color:#f6f6f6;}
.evaluateWrap table tbody th .buttonGroup {position:absolute;top:8px;right:5px;}
.evaluateWrap table tbody td {padding:10px 5px;line-height:18px;text-align:center;}
.evaluateWrap table tbody td.content {padding-left:20px;text-align:left;}
.evaluateWrap table tbody td.content p {margin-bottom:10px;}

.recordSearchListWrap .legend {padding:10px 15px;border:solid 1px #ccc;}
.recordSearchListWrap .legend span {display:inline-block;}
.recordSearchListWrap .legend span+span:before {content:"|";margin:0 10px 0 6px;color:#d2d2d2;}
.recordSearchListWrap .formFieldWrap {margin-top:15px;}
.recordSearchListWrap .tableStyle table {width:100%;border-top:solid 1px #ccc;}
.recordSearchListWrap .tableStyle table thead th {height:35px;background-color:#e3e3e3;color:#454545;font-weight:400;border-bottom:solid 1px #ccc;}
.recordSearchListWrap .tableStyle table tbody tr {border-bottom:solid 1px #ccc;}
.recordSearchListWrap .tableStyle table tbody tr:hover td,
.recordSearchListWrap .tableStyle table tbody tr.active td {background-color:#fdfae3;}
.recordSearchListWrap .tableStyle table tbody td {position:relative;padding:5px 0;line-height:18px;text-align:left;color:#333;background-color:#fff;text-align:center;}
.recordSearchListWrap .tableStyle table tbody td.noData {height:150px;}
.recordSearchListWrap .tableStyle table tbody td .textBox {padding:0;text-align:center;}

/*Home*/
.homeWrap {width:1200px;padding:5px 0 0 16px;}
.homeWrap > section {position:relative;}
.homeWrap section:not(:last-child) {margin-bottom:20px;}
.homeWrap .topSection {height:400px;display:flex;}
.homeWrap .topSection .homeBoard {position:relative;width:calc(100% - 780px);margin-left:20px;padding:25px 20px 0 20px;background-color:#f8f8f8;}
.homeWrap .topSection .homeBoard h2 {margin-bottom:15px;font-size:24px;line-height:30px;}
.homeWrap .topSection .homeBoard h2 strong {display:inline-block;margin-left:10px;font-family:"Montserrat";font-size:13px;font-weight:700;color:rgba(0,0,0,0.3);}
.homeWrap .topSection .homeBoard ul li {padding:13px 0;border-bottom:dashed 1px rgba(0,0,0,0.3);}
.homeWrap .topSection .homeBoard ul li a {display:inline-block;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.homeWrap .topSection .homeBoard .link_more {position:absolute;bottom:30px;right:20px;border-bottom:solid 1px rgba(0,0,0,0.6);}

.homeWrap .StatusSection > ul {display:flex;}
.homeWrap .StatusSection > ul > li {position:relative;flex:1;margin-right:20px;height:140px;padding:20px 25px;border-radius:10px;}
.homeWrap .StatusSection > ul > li:nth-of-type(1) {background-color:#FCF0F1;}
.homeWrap .StatusSection > ul > li:nth-of-type(2) {background-color:#EAF6EB;}
.homeWrap .StatusSection > ul > li:nth-of-type(3) {margin-right:0;background-color:#E7F6FB;}
.homeWrap .StatusSection > ul > li h3 {font-size:18px;font-weight:900;color:#000;}
.homeWrap .StatusSection > ul > li h3:before {content:"";display:block;position:absolute;top:54px;left:25px;width:64px;height:64px;border-radius:50%;background-repeat:no-repeat;background-position:center center;}
.homeWrap .StatusSection > ul > li:nth-of-type(1) h3:before {background-color:#DDC1C4;}
.homeWrap .StatusSection > ul > li:nth-of-type(2) h3:before {background-color:#BFD9C1;}
.homeWrap .StatusSection > ul > li:nth-of-type(3) h3:before {background-color:#B8D6E0;}
.homeWrap .StatusSection > ul > li.member h3:before {background-image:url("/assets/img/main_chart_icon_01.png");background-size:48px auto;}
.homeWrap .StatusSection > ul > li.studyStatus h3:before {background-image:url("/assets/img/main_chart_icon_04.png");background-size:27px auto;}
.homeWrap .StatusSection > ul > li.studyPeriod h3:before {background-image:url("/assets/img/main_chart_icon_05.png");background-size:36px auto;}
.homeWrap .StatusSection > ul > li.sales h3:before {background-image:url("/assets/img/main_chart_icon_03.png");background-size:36px auto;}
.homeWrap .StatusSection > ul > li.point h3:before {background-image:url("/assets/img/main_chart_icon_02.png");background-size:36px auto;}
.homeWrap .StatusSection > ul > li .link_more {position:absolute;top:15px;right:15px;width:30px;height:30px;background:#fff url("/assets/img/main_link_arrow.png") center center no-repeat;border-radius:50%;}
.homeWrap .StatusSection > ul > li em {font-style:normal;}
.homeWrap .StatusSection > ul > li .countBox {position:absolute;top:20px;right:25px;text-align:right;}
.homeWrap .StatusSection > ul > li .countBox dt {font-size:12px;}
.homeWrap .StatusSection > ul > li .countBox dd {margin-top:5px;font-weight:900;}
.homeWrap .StatusSection > ul > li .countBox dd span {font-family:"Montserrat";font-size:24px;line-height:26px;}
.homeWrap .StatusSection > ul > li .countBox dd em {font-size:14px;vertical-align:top;line-height:26px;}
.homeWrap .StatusSection > ul > li .rate {position:absolute;top:85px;right:25px;display:flex;}
.homeWrap .StatusSection > ul > li .rate dt,
.homeWrap .StatusSection > ul > li .rate dd {position:relative;padding-left:30px;text-align:right;}
.homeWrap .StatusSection > ul > li .rate dd {margin-left:20px;}
.homeWrap .StatusSection > ul > li .rate i {position:absolute;top:0;left:0;font-size:24px;font-weight:900;}
.homeWrap .StatusSection > ul > li .rate span {display:block;font-size:24px;font-family:"Montserrat";font-weight:900;}
.homeWrap .StatusSection > ul > li .rate em {display:block;margin-top:10px;font-size:11px;font-weight:200;color:#000 !important;}
.homeWrap .StatusSection > ul > li .rate .up {color:#EA7778;}
.homeWrap .StatusSection > ul > li .rate .down {color:#5498F0;}
.homeWrap .StatusSection > ul > li .rate .dash {color:#333;}

.progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 50px;
    background: #0e787c;
    height: 7px;
    width: 0;
}

@keyframes load {
    0% {width: 0;}
    100% {width: 100%;}
}

/* new - 20201110*/
.statusWrap {margin-bottom:15px;min-height:40px;padding:10px;background-color:#FCF0F1;}
.statusWrap ul {display:flex;}
.statusWrap ul li {position:relative;padding-left:10px;margin-right:25px;line-height:20px;font-size:13px;color:#955F63;}
.statusWrap ul li strong {font-weight:700;}
.statusWrap ul .title {padding-left:20px;margin-right:28px;font-weight:700;}
.statusWrap ul .title:before {content:"!";display:block;position:absolute;top:2px;left:0;width:16px;height:16px;border-radius:50%;background-color:rgba(235,87,87,0.8);color:#fff;text-align:center;line-height:16px;}
.statusWrap ul li:not(.title):before {content:"";display:block;position:absolute;top:8px;left:0;width:3px;height:3px;background-color:#955F63;}

.gridTotalArea ul {padding-left:10px;display:flex;background-color:#f8f8f8;}
.gridTotalArea ul li {height:40px;margin-right:20px;line-height:40px;}
.gridTotalArea ul li strong {display:inline-block;margin-left:5px;}

.headWrap {display:flex;height:30px;padding-top:10px;margin:10px 0;}
.headWrap .title {font-size:16px;letter-spacing:-1px;font-weight:700;}
.headWrap dt {width:50%;}
.headWrap dd {width:50%;display:inline-flex;align-self:center;justify-content:flex-end;}
.headWrap dd .smallText {display:inline-block;margin-right:10px;line-height:30px;}
.headWrap dd .buttonArea {vertical-align:top;}
.headWrap + .fieldTabUIWrap .tabUI {margin-top:0;}
.headWrap.sub .title {margin-top:0;}
.headWrap.sub .title h3 {position:relative;padding:0 0 0 15px;font-size:15px;line-height:30px;color:#242731;font-weight:500;letter-spacing:-0.5px;}
.headWrap.sub .title h3:before {content:"";position:absolute;top:13px;left:5px;display:block;width:3px;height:3px;background-color:#155ac2;}
.mainContents.popup .headWrap {margin:0;padding:0;height:50px;border-bottom:solid 1px #d2d2d2;}
.mainContents.popup .headWrap dt {font-size:18px;line-height:50px;}
.mainContents.popup .headWrap dt h3 {line-height:50px;}

.searchArea {display:flex;}
.searchArea .formArea {flex:1;}
.searchArea .buttonArea {display:inline-flex;}

.handsontable th > div > input[type="checkbox"] {top:auto;}
.handsontable td .grid-icon {display:inline-block;margin-left:4px;vertical-align:middle;}

.infoListBox {padding:10px;margin-bottom:15px;border:solid 1px #d2d2d2;background-color:#f8f8f8;}
.infoListBox ul li {position:relative;padding-left:10px;line-height:18px;}
.infoListBox ul li:not(:last-child) {margin-bottom:5px;}
.infoListBox ul li:before {content:"";position:absolute;top:7px;left:0;display:block;width:3px;height:3px;border-radius:50%;background-color:#50417B;} /*skin*/

.badgeType .badgeItem {display:inline-block;padding:0 10px;border-radius:3px;background-color:#50417B;color:#fff;line-height:18px;} /*skin*/

/*skin*/
button.txtBtn {background-color:#50417B;}
button.txtBtn.light {color:#50417B;}
button.lineBtn {border-color:#46286B;color:#46286B;}

.handsontable table.htCore td button.celltype {width:auto;height:20px;padding:0 4px;background-color:#e1e6f4;font-size:12px;color:#000;}
button:hover {transition:0.3s;}

/*fileUpload*/
.attachFileWrap {padding:0;margin-top:20px;}
.attachFileWrap .attachContent {height:250px;padding:0 10px;overflow:auto;}
.attachFileWrap .buttonWrap {width:100%;padding:10px 10px 0 0;text-align:right;border-top:solid 1px #ccc;}
.attachFileWrap ul.fileList li span.btn {top:2px;}
.attachFileWrap .fileInfo ul li img {margin-right:10px;vertical-align:middle;}
.attachFileWrap .fileInfo li span {vertical-align:middle;}
.attachFileWrap.imageUpload .textInfo {margin:5px 0 15px 0;}
.attachFileWrap.imageUpload .textInfo span {display:inline-block;}
.attachFileWrap.imageUpload .textInfo span:first-child {margin-right:5px;}
.attachFileWrap.imageUpload .textInfo span:last-child {margin-left:5px;}
.attachFileWrap.imageUpload .textInfo span strong {color:#2E46AF;}
.attachFileWrap.imageUpload .fileInfo {padding:10px;overflow:auto;height:245px;}
.attachFileWrap.imageUpload .fileInfo ul {display:flex;flex-flow:row wrap;}
.attachFileWrap.imageUpload .fileInfo li {position:relative;width:25%;padding:15px 0 10px 0;text-align:center;}
.attachFileWrap.imageUpload .fileInfo li:last-child {border-bottom:dashed 1px #e2e2e2;}
.attachFileWrap.imageUpload .fileInfo li a {display:none;}
.attachFileWrap.imageUpload .fileInfo li span {background:none;position:absolute;top:5px;right:12px;width:20px;height:20px;margin-left:0;}
.attachFileWrap.imageUpload .fileInfo li span:before {content:"X";position:absolute;top:0;left:0;width:20px;height:20px;border-radius:50%;background-color:#000;font-size:10px;line-height:20px;text-align:center;color:#fff;text-indent:0;}
.attachFileWrap.imageUpload .attachContent {height:auto;overflow:hidden;}
.attachFileWrap .buttonWrap h3 {top:0 !important;line-height:30px;font-size:14px;}
.attachFileWrap .photoBox img {height:auto;border-radius:0;}
.attachFileWrap #divAttachFiles {margin-bottom:20px;}
.attachFileWrap #divAttachFiles li {padding:0 10px 7px 10px;border-bottom:solid 1px #ccc;}
.attachFileWrap ul.fileList li span:first-child {padding-top:0;}

/*banner slide*/
.slideArea {position:relative;width:760px;height:400px;}
.slideshow-container {max-width: 1000px;position: relative;margin: auto;}
.mySlides {display:none;}
.slideshow-container .arrow {cursor: pointer;position: absolute;top: 50%;width: auto;margin-top:-22px;padding:16px;color:#fff;font-size:36px;transition: 0.6s ease;border-radius: 0 3px 3px 0;background-color:rgba(0,0,0,0.2);user-select:none;;}
.slideshow-container .arrow i {vertical-align:middle;}
.slideshow-container .next {right:0;border-radius: 3px 0 0 3px;}
.slideshow-container .arrow:hover {background-color: rgba(0,0,0,0.6);}
.slideshow-container .text {color: #f2f2f2;font-size: 15px;padding: 8px 12px;position: absolute;bottom: 8px;width: 100%;text-align: center;}
.slideshow-container .numbertext {color: #f2f2f2;font-size: 12px;padding: 8px 12px;position: absolute;top: 0;}
#dotNumber {position:absolute;bottom:20px;left:0;width:100%;text-align:center;}
#dotNumber .dot {height:10px;width:10px;margin:0 2px;background-color:#d2d2d2;border-radius: 50%;display:inline-block;transition: background-color 0.6s ease;}
#dotNumber .active, 
#dotNumber .dot:hover {background-color: #717171;}
.mySlides.fade {-webkit-animation-name: fade;-webkit-animation-duration: 1.5s;animation-name: fade;animation-duration: 1.5s;}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.of_scroll {overflow:auto;padding:10px;}
.areaFlag {margin-bottom:2px;padding:7px;width:auto;background-color:#5D74D5 !important;color:#ffffff;border-radius:2px;font-weight:700;font-size:12px;}
.grid_icon {margin-left:3px;vertical-align:middle;color:#1943cc;font-size:16px;}
.grid_icon_order {margin-right:3px;vertical-align:middle;font-size:16px;}

#tooltip {color:#EA7778 !important;}
#tooltip:hover:after {content:attr(data-title);width:294px;padding: 4px 8px;position: absolute;left: 0;top: 100%;z-index: 20;border-radius:3px;box-shadow: 0px 0px 4px #222;font-size:12px;background-color:#454545;color:#fff;line-height:18px;}

/*default skin*/
.nanobar{width:100%;height:4px;z-index:9999;top:0}.bar{width:0;height:100%;transition:height .3s;background:#192B80}

.window.focused .windowtitlebar {background-color:#293F9E;}

.fieldTabUIWrap > .tabUI {border-bottom:solid 2px #2E46AF;}
.fieldTabUIWrap > .tabUI li {border-bottom:solid 2px #2E46AF;}
.fieldTabUIWrap > .tabUI li:hover,
.fieldTabUIWrap > .tabUI li.active {border-color:#2E46AF;color:#192B80;}
.fieldTabUIWrap .tabContent {border-color:#2E46AF;}

input[type=radio].ui_radio + label {background-image:url("/assets/img/icon_radio_normal_10.png");}
input[type=radio].ui_radio:checked + label {background-image:url("/assets/img/icon_radio_active_10.png");}
input[type=radio].ui_radio:focus + label {border: 1px solid #192B80 !important;}
input[type=radio].ui_radio + label:hover {border: 1px solid #192B80;}

input[type=checkbox].ui_checkboxRadio + label {background-image:url("/assets/img/icon_radio_normal_10.png");}
input[type=checkbox].ui_checkboxRadio:checked + label {background-image:url("/assets/img/icon_radio_active_10.png");}
input[type=checkbox].ui_checkboxRadio:focus + label {border: 1px solid #192B80 !important;}
input[type=checkbox].ui_checkboxRadio + label:hover {border: 1px solid #192B80;}

input[type=checkbox].ui_checkbox + label {background-image:url("/assets/img/icon_checkbox_normal_10.png");}
input[type=checkbox].ui_checkbox:checked + label {background-image:url("/assets/img/icon_checkbox_active_10.png");}
input[type=checkbox].ui_checkbox:focus + label {border: 1px solid #192B80 !important;}
input[type=checkbox].ui_checkbox + label:hover {border: 1px solid #192B80;}

label.ui_checkbox {background-image:url("/assets/img/icon_checkbox_active_10.png") !important;}

button.txtBtn {background-color:#192B80;}
button.txtBtn.light {color:#192B80;}
button.txtBtn.light:hover,button.txtBtn.light:focus {color:#fff;background-color:#2E46AF;}
button.lineBtn {border-color:#2E46AF;color:#2E46AF;}
button.lineBtn:hover,button.lineBtn:focus {border-color:#2E46AF;background-color:#2E46AF;color:#fff;}

.handsontable .htUIInput.htUIButtonOK input {border-color:#2E46AF;background-color:#2E46AF;color:#fff;}

#simplemodal-container .simplemodal-data h3 {background-color:#2E46AF;}

#alertmodal-container .alertmodal-data .btn-area input[type="button"] {color:#fff;background-color:#192B80;}
#alertmodal-container .alertmodal-data .btn-area input[type="button"].btn-default {color:#192B80;}

select:hover, 
textarea:hover, 
input[type="text"]:hover, 
input[type="tel"]:hover, 
input[type="number"]:hover, 
input[type="date"]:hover, 
input[type="password"]:hover, 
input[type="tel"]:hover, 
input[type="email"]:hover,
input[type="text"]:focus, 
input[type="tel"]:focus, 
input[type="number"]:focus, 
input[type="date"]:focus, 
input[type="password"]:focus, 
input[type="tel"]:focus, 
input[type="email"]:focus {border-color:#192B80;}

.tail-select:hover .select-label, .tail-select.idle .select-label, .tail-select.active .select-label,
.tail-select:focus .select-label, .tail-select.idle .select-label, .tail-select.active .select-label 
{box-shadow:none;border-color:#192B80;}

/*
결재 아이콘
<div class="approval_stamp">기안</div>
<div class="approval_stamp yellow">취소</div>
<div class="approval_stamp red">반려</div>
<div class="approval_stamp blue">승인</div>
*/
.approval_stamp {background-color: #fff;border: 2px solid #01080a;width: 32px;height: 32px !important;border-radius: 75px;text-align: center;margin: 8px auto !important;font-family: 'NanumSquare', sans-serif;font-size: 12px;color: #01080a;vertical-align: middle;line-height: 28px;}
.approval_stamp.red {border: 2px solid #dc3545;color: #dc3545;}
.approval_stamp.yellow {border: 2px solid #fbbc42;color: #fbbc42;}
.approval_stamp.blue {border: 2px solid #1c4595;color: #1c4595;}

.col-12.h-8.mb-1:last-child{margin-bottom:0;}